[user]
    name = David Moench
    email = domoench@gmail.com
[push]
    default = simple
    
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
[color "status"]
    added = yellow
    changed = green
    untracked = red
[color "branch"]
    current = green
    local = white
    remote = red
